{% extends "base.html" %}
{% load i18n %}
{% block body %}
<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top py-0 pe-5">
    <a href="{% url 'home' %}" class="navbar-brand navbar-brand-ar ps-5 me-0">
        <h1 class="text-white m-0">{% if LANGUAGE_CODE == 'en' %}Euro Lux{% else %}يورو لوكس{% endif %}</h1>
    </a>
    {% comment %} <form class="ms-auto me-2" action="{% url 'set_language' %}" method="post">{% csrf_token %}                                      
        <input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}">
        {% if LANGUAGE_CODE == 'ar' %}
            <button type='submit' name='language' value='en' class="bi bi-globe btn btn-primary px-3 d-sm-block d-lg-none rounded-circle">
                <span class="label"></span>English
            </button>
        {% else %}
            <button type='submit' name='language' value='ar' class="bi bi-globe2 btn btn-primary px-3 d-sm-block d-lg-none rounded-circle">
                <span class="label"></span>عربي
            </button>
        {% endif %} 
    </form>{% endcomment %}
    <button type="button" class="navbar-toggler me-0" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            {% if LANGUAGE_CODE == 'en' %}
            <a href="{% url 'home' %}" class="nav-item nav-link">Home</a>
            <a href="{% url 'about'%}" class="nav-item nav-link active">About</a>
            <a href="{% url 'contact' %}" class="nav-item nav-link">Contact</a>
            {% else %}
            <a href="{% url 'home' %}" class="nav-item nav-link">الرئيسية</a>
            <a href="{% url 'about'%}" class="nav-item nav-link active">عنا</a>
            <a href="{% url 'contact' %}" class="nav-item nav-link">تواصل معنا</a>
            {% endif %}
            <form action="{% url 'set_language' %}" method="post">{% csrf_token %}                                      
                <input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}">
                {% if LANGUAGE_CODE == 'ar' %}
                    <button type='submit' name='language' value='en' class="bi bi-globe btn btn-primary px-3 d-sm-block d-lg-block rounded-circle nav-item nav-link text-white">
                        <span class="label"></span>English
                    </button>
                {% else %}
                    <button type='submit' name='language' value='ar' class="bi bi-globe2 btn btn-primary px-3 d-sm-block d-lg-block rounded-circle nav-item nav-link text-white">
                        <span class="label"></span>عربي
                    </button>
                {% endif %}
            </form>
            
            {% comment %} <a href="service.html" class="nav-item nav-link">Services</a> {% endcomment %}
            {% comment %} <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                <div class="dropdown-menu bg-light m-0">
                    <a href="project.html" class="dropdown-item">Projects</a>
                    <a href="feature.html" class="dropdown-item">Features</a>
                    <a href="team.html" class="dropdown-item">Our Team</a>
                    <a href="testimonial.html" class="dropdown-item">Testimonial</a>
                    <a href="404.html" class="dropdown-item">404 Page</a>
                </div>
            </div> {% endcomment %}
        </div>
        {% comment %} <a href="/admin" class="btn btn-primary px-3 d-none d-lg-block">Admin</a> {% endcomment %}
    </div>
    
</nav>
<!-- Navbar End -->

<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s"{%if LANGUAGE_CODE == 'ar'%}dir='rtl'{%endif%}>
    <div class="container py-5">
        <h1 class="display-3 text-white animated slideInRight">{% if LANGUAGE_CODE == 'en' %}About Us{% else %}عنا{% endif %}</h1>
        <nav aria-label="breadcrumb"dir='ltr'>
            {% if LANGUAGE_CODE == 'en' %}
            <ol class="breadcrumb animated slideInLeft mb-0">
                <li class="breadcrumb-item "><a href="{% url "home" %}">Home</a></li>
                <li class="breadcrumb-item active text-primary" aria-current="page">About Us</li>
            </ol>
            {% else %}
            <ol class="breadcrumb animated slideInLeft mb-0 ">
                <li class="breadcrumb-item active text-primary" aria-current="page">عنا</li>
                <li class="breadcrumb-item "><a href="{% url "home" %}">الرئيسية</a></li>
            </ol>
            {% endif %}
        </nav>
    </div>
</div>
<!-- Page Header End -->

<!-- About Start -->
<div class="container-xxl py-5" {%if LANGUAGE_CODE == 'ar'%}dir='rtl'{%endif%}>
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6">
                <div class="row gx-3 h-100">
                    <div class="col-6 align-self-start wow fadeInUp" data-wow-delay="0.1s">
                        <img class="img-fluid" src="{{about.img1.url}}">
                    </div>
                    <div class="col-6 align-self-end wow fadeInDown" data-wow-delay="0.1s">
                        <img class="img-fluid" src="{{about.img2.url}}">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                {% if LANGUAGE_CODE == 'en' %}
                <p class="fw-medium text-uppercase text-primary mb-2">About Us</p>
                <h1 class="display-5 mb-4">{{about.title}}</h1>
                <p class="mb-4">{{about.description}}</p>
                <div class="d-flex align-items-center mb-4">
                    <div class="flex-shrink-0 bg-primary p-4">
                        <h1 class="display-2">{{about.years_of_experience}}</h1>
                        <h5 class="text-white">{% if about.years_of_experience > 1 %}Years{% else %}Year{% endif %} of</h5>
                        <h5 class="text-white">Experience</h5>
                    </div>
                    <div class="ms-4">
                        {% for item in about.list.all %}
                        <p><i class="fa fa-check text-primary me-2"></i>{{item}}</p>
                        {% endfor %}
                    </div>
                </div>
                {%else%}
                <p class="fw-bold text-uppercase text-primary mb-2">عنا !</p>
                <h1 class="display-5 mb-4">{{about.title_ar}}</h1>
                <p class="mb-4">{{about.description_ar}}</p>
                <div class="d-flex align-items-center mb-4">
                    <div class="flex-shrink-0 bg-primary p-4">
                        <h1 class="display-2">{{about.years_of_experience}}</h1>
                        <h5 class="text-white">{% if about.years_of_experience > 10 %}سنه من{% else %}سنين من{% endif %}</h5>
                        <h5 class="text-white">الخبرة</h5>
                    </div>
                    <div class="me-4">
                        {% for item in about.list.all %}
                        <p><i class="fa fa-check text-primary ms-2"></i>{{item.title_ar}}</p>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
                
                <div class="row pt-2">
                    <div class="col-sm-6">
                        <div class="d-flex align-items-center">
                            <div class="flex-shrink-0 btn-lg-square rounded-circle bg-primary">
                                <i class="fa fa-envelope-open text-white"></i>
                            </div>
                            {% if LANGUAGE_CODE == 'en' %}
                            <div class="ms-3">
                                <p class="mb-2">Email us</p>
                                <h5 class="mb-0">{{about.email}}</h5>
                            </div>
                            {%else%}
                            <div class="me-3">
                                <p class="mb-2 fw-bold">ارسل لنا</p>
                                <h5 class="mb-0">{{about.email}}</h5>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="d-flex align-items-center">
                            <div class="flex-shrink-0 btn-lg-square rounded-circle bg-primary">
                                <i class="fa fa-phone-alt text-white"></i>
                            </div>
                            {% if LANGUAGE_CODE == 'en' %}
                            <div class="ms-3">
                                <p class="mb-2">Call us</p>
                                <h5 class="mb-0">{{about.phone}}</h5>
                            </div>
                            {% else %}
                            <div class="me-3">
                                <p class="mb-2 fw-bold">اتصل بنا</p>
                                <h5 class="mb-0" dir='ltr'>{{about.phone}}</h5>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->


<!-- Facts Start -->
<div class="container-fluid facts my-5 p-5"{%if LANGUAGE_CODE == 'ar'%}dir='rtl'{%endif%}>
    <div class="row g-5">
        <div class="col-md-6 col-xl-4 wow fadeIn" data-wow-delay="0.1s">
            <div class="text-center border p-5">
                <i class="fa fa-certificate fa-3x text-white mb-3"></i>
                <h1 class="display-2 text-primary mb-0" data-toggle="counter-up">{{fact.years_of_experience}}</h1>
                <span class="fs-5 fw-semi-bold text-white">{% if LANGUAGE_CODE == 'en' %}Years Experience{% else %}{% if about.years_of_experience > 10 and about.years_of_experience < 3 %}سنة خبرة{% else %}سنين خبرة{% endif %}{% endif %}</span>
            </div>
        </div>
        <div class="col-md-6 col-xl-4 wow fadeIn" data-wow-delay="0.3s">
            <div class="text-center border p-5">
                <i class="fa fa-users-cog fa-3x text-white mb-3"></i>
                <h1 class="display-2 text-primary mb-0" data-toggle="counter-up">{{fact.team_members}}</h1>
                <span class="fs-5 fw-semi-bold text-white">{% if LANGUAGE_CODE == 'en' %}Team Members{% else %}عضو في الفريق{% endif %}</span>
            </div>
        </div>
        <div class="col-md-6 col-xl-4 wow fadeIn" data-wow-delay="0.5s">
            <div class="text-center border p-5">
                <i class="fa fa-users fa-3x text-white mb-3"></i>
                <h1 class="display-2 text-primary mb-0" data-toggle="counter-up">{{fact.happy_clients}}</h1>
                <span class="fs-5 fw-semi-bold text-white">{% if LANGUAGE_CODE == 'en' %}Happy Clients{% else %}عملاء سعداء{% endif %}</span>
            </div>
        </div>
        {% comment %} <div class="col-md-6 col-xl-3 wow fadeIn" data-wow-delay="0.7s">
            <div class="text-center border p-5">
                <i class="fa fa-check-double fa-3x text-white mb-3"></i>
                <h1 class="display-2 text-primary mb-0" data-toggle="counter-up">1839</h1>
                <span class="fs-5 fw-semi-bold text-white">Projects Done</span>
            </div>
        </div> {% endcomment %}
    </div>
</div>
<!-- Facts End -->

<!-- Features Start -->
<div class="container-xxl py-5"{%if LANGUAGE_CODE == 'ar'%}dir='rtl'{%endif%}>
    <div class="container">
        <div class="row g-5 align-items-center">
            {% comment %} <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="position-relative me-lg-4">
                    <img class="img-fluid w-100" src="img/feature.jpg" alt="">
                    <span class="position-absolute top-50 start-100 translate-middle bg-white rounded-circle d-none d-lg-block" style="width: 120px; height: 120px;"></span>
                    <button type="button" class="btn-play" data-bs-toggle="modal"
                        data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
                        <span></span>
                    </button>
                </div>
            </div> {% endcomment %}
            {% for feature in features %}
            <div class="col-lg-12 wow fadeInUp" data-wow-delay="0.5s">
                <p class="fw-medium text-uppercase text-primary mb-2">{%if LANGUAGE_CODE == 'en'%}Why Choosing Us!{%else%}لماذا تختارنا !{%endif%}</p>
                {% if LANGUAGE_CODE == 'en' %}
                <h1 class="display-5 mb-4">{{feature.title}}</h1>
                <p class="mb-4">{{feature.description}}</p>
                {% else %}
                <h1 class="display-5 mb-4">{{feature.title_ar}}</h1>
                <p class="mb-4">{{feature.description_ar}}</p>
                {% endif %}
                
                <div class="row gy-4">
                    {% for item in feature.list.all %}
                    <div class="col-12">
                        <div class="d-flex">
                            <div class="flex-shrink-0 btn-lg-square rounded-circle bg-primary">
                                <i class="fa fa-check text-white"></i>
                            </div>
                            {% if LANGUAGE_CODE == 'en' %}
                            <div class="ms-4">
                                <h4>{{item.title}}</h4>
                                <span>{{item.description}}</span>
                            </div>
                            {% else %}
                            <div class="me-4">
                                <h4>{{item.title_ar}}</h4>
                                <span>{{item.description_ar}}</span>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Features End -->

{% endblock body %}